<!-- _contact.html.erb -->
<div class="text-base">
  
  <div class="columns">
    <div>
      SAY HELLO <br/>
    ___<br/>
    <br/>
      For future projects, collaborations & <br/>queries, please get in touch.<br/>
      <br/>
     
       <a href="mailto:hello@fionamcdermott.com">hello@fionamcdermott.com</a> <br/>
  <br/>
      Berlin<br/>
      + 49 1511 8667260 <br/>
<br/>
      Dublin <br/>
      + 353 86 3043093<br/>
      <br/>
     
      fionamcdermott.com<br/>

      


____

  </div>
  <div>
LINKS <br/>
    ___<br/>
    <br/>
    Find me elsewhere on the web<br/>
    <br/>
    <a href='https://twitter.com/#!/fionaemcdermott'>Twitter</a><br/>
    <br/>
    <a href='http://www.linkedin.com/profile/view?id=105690113&trk=tab_proLinkedIn'>LinkedIn</a> <br/>
    <br/>
  

</div>


</div>
</div>
