<!-- _contact.html.erb -->
<div class="text-base">
  
  <div class="columns">
    <div>
      SAY HELLO <br/>
    ___<br/>
    <br/>
      For future projects, collaborations & <br/>queries, please get in touch.<br/>
      <br/>
     
       <a href='mailto:f.e.mcdermott@gmail.com'>f.e.mcdermott@gmail.com</a> <br/>
  <br/>
      Berlin<br/>
      + 49 1511 8667260 <br/>
<br/>
     
     
      fionamcdermott.com<br/>

      



  

</div>


</div>
</div>
