<!-- _contact.html.erb -->
<div class="text-base">For future projects, collaborations & queries, please get in touch.

Fiona McDermott
M (Arch), B (Sc)

Münz Straße, 21 
10178  Berlin
Home Tel.: + 49 30 24008653 
Mobile: + 49 1511 8667260 
Skype: fionamcdermott82
www.fionamcdermott.com</div>