<!-- _contact.html.erb -->
<div class="text-base">
  
  <div class="columns">
    <div>
      For future projects, collaborations & queries, please get in touch.<br/>

      <br/>
      Fiona McDermott<br/>
      M (Arch), B (Sc)<br/>
  <br/>
  <br/>
      Münz Straße, 21 <br/>
      10178  Berlin<br/>
      Home Tel.: + 49 30 24008653<br/> 
      Mobile: + 49 1511 8667260 <br/>
      Skype: fionamcdermott82<br/>
      fionamcdermott.com<br/>
</div>
</div>
</div>
