<div class="text-base">
<div class="columns">
    <div>
    ABOUT<br/>
    ___<br/>

    <br/>
    I'm an Urban Designer and Researcher, currently based in Berlin, Germany. Over the past three years I have worked on spatial planning and urban design competition projects, including the planning of temporary uses at the former airport Tempelhof, in cooperation with the Berlin Senate. Previously, I have worked as an architectural consultant on educational and performing arts buildings in the UK and Ireland. My work focuses on the design of contemporary public space and how stakeholders engage in the spatial transformation of cities and territories. I am also engaged in research concerning informal economic practice in German cities. I am a graduate of the Bartlett School of Architecture, University College London and Queen’s University Belfast.
    <br/>
    <br/>
    
   

    


____

  </div>
  <div>
    SKILLS <br/>
    ___<br/> 
    
    <br/>
    *Conceptual Design <br/>
    *Spatial Planning, 3D Design & Visualisation <br/>
    *Exhibition & Environmental Design <br/>
    *Graphic Design & Layout <br/>
    *Research & Writing<br/>
    *Public Engagement & Consultation<br/>
    <br/>
     <br/>
    CLIENTS<br/>
    ___<br/>

    <br/>
    COBE, Berlin    <br/>
    Duncan McCauley Architects, Berlin <br/>
    ST Raum A, Berlin<br/>
    Textbild:Agency for Architecture Communication, Berlin <br/>
    Gundeldinger Feld, Basel<br/>
    Tx - büro für temporäre architektur, Berlin<br/> 
    Fundamental Architectural Inclusion, London <br/>
    <br/>
   
____

  </div>
  <div>CREDITS<br/>
    ___<br/>
    <br/>

    The site design and html/css is by Fiona McDermott, with additional help from Ed Eustace.<br/>
    <br/>
    
    Unless otherwise stated, all content is copyright. © 2013 Fiona McDermott <br/>
    
____



</div>
</div>

</div>
