<div class="text-base">
<div class="columns">
    <div>
    ABOUT<br/>
    ___<br/>

    <br/>
    Fiona McDermott is a Visual and UX designer living and working in Berlin. 
    <br/>
    <br/>
    SKILLS <br/>
    ___<br/> 
    
    <br/>
    *Concept Design and Information Architecture <br/>
    *Art Direction & Visual Design <br/>
    *Screen Design <br/>
    *Interactive Design & Front-end Development <br/>
    *Design for Mobile and Tablet UIs <br/>
    <br/>
   



____

  </div>
  <div>
    CLIENTS<br/>
    ___<br/>

    <br/>
    Virtual Identity, Berlin <br/>
    Textbild:Agency for Architecture Communication, Berlin <br/>
    Gundeldinger Feld, Basel<br/>
    Bau Büro, Basel<br/>
    PureEdit, Oslo<br/>
    Sarah Browne Dietitian, Ireland <br/>
    Fundamental Architectural Inclusion, London <br/>
    <br/>
    AWARDS <br/>
    ___<br/>
    <br/> Digital Communications Award, 2011 <br/> iF Communication Design Award 2012, 2011 <br/> 

____

  </div>
  <div>CREDITS<br/>
    ___<br/>
    <br/>

    The site design and html/css is by Fiona McDermott, with additional programming from Ed Eustace.<br/>
    <br/>
    
    Unless otherwise stated, all content is copyright. © 2013 Fiona McDermott <br/>
    All other trademarks are the property of their respective owners. <br/>
____



</div>
</div>

</div>
