//_information.haml


<div class="text-base">
<div class="columns" style="float:left">
  <div style="float:left">column1</div>
  <div style="float:left">column2</div>
  <div style="float:left">column3</div>
</div>

</div>