<div class="text-base">
<div class="columns">
    <div>
    ABOUT<br/>
    ___<br/>

    <br/>
    I am a multi-disciplinary designer working in the fields of spatial, communicative and digital design. I live and work in Berlin where I specialise in design for the built environment and cultural practice.<br/>
    <br/>
    
    Twitter <br/>
    LinkedIn <br/>
    Blog <br/>
    <br/>

    Download CV here. <br/>


____

  </div>
  <div>
    CLIENTS<br/>
    ___<br/>

    <br/>
    Virtual Identity, Berlin<br/>
    PureEdit, Oslo<br/>
    Sarah Browne Dietitian, Ireland <br/>
    Duncan McCauley Architects, Berlin <br/>
    ST Raum A, Berlin<br/>
    Textbild:Agency for Architecture Communication, Berlin <br/>
    Gundeldinger Feld, Basel<br/>
    Tx - büro für temporäre architektur, Berlin<br/> 
    Fundamental Architectural Inclusion, London <br/>

____

  </div>
  <div>CREDITS<br/>
    ___<br/>
    <br/>

    The site design and html/css is by Fiona McDermott, with additional help from Ed Eustace.<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    © 2012 Fiona McDermott<br/>
    All images remain the copyright<br/> 
    of Fiona McDermott.<br/>
____



</div>
</div>

</div>
