//_information.haml


<div class="text-base">
<div class="columns" style="float:left">
  <div style="float:left">column1</div>
  <div style="float:left">CLIENTS
___


Virtual Identity, Berlin,
PureEdit, Oslo,
Sarah Browne Dietitian, Ireland 
Duncan McCauley Architects, Berlin 
ST Raum A, Berlin,
Textbild:Agency for Architecture Communication, Berlin 
Gundeldinger Feld, Basel,
Tx - büro für temporäre architektur, 
Fundamental Architectural Inclusion, London 

____
</div>
  <div style="float:left">CREDITS
___


The site design and html/css 
programming is by Fiona McDermott, with thanks to Ed Eustace for the backend programming of this site.

© 2012 Fiona McDermott
All images remain the copyright 
of Fiona McDermott.

____



</div>
</div>

</div>